*{
	margin: 0px auto; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	margin: 0px auto;
	height: 100%;
	width: 100%;
	background-image: url('../lang/image/subbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	transform: 80%;
}

.mainheader{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainheader .logo img{
	width: 70px;
	height: 10px;
	padding-left: 60px;
}

.mainheader nav{
	width: 450px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mainheader nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.menubtn{
	margin-right: 60px;
}

.mainheader button{
	padding: 10px 45px;
	text-align: center;
	font-size: 14px;
	color: #ffff;
	border: none;
	background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
	border-radius: 10px;
}

main{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .right-sec{
	padding-right: 70px;
}

main .left-sec{
	padding-left: 100px;
}

main .left-sec h1{
	top: 0px;
	text-align: center;
	font-size: 55px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 15px 0;
}

.form-box{
	font-size: 14px;
	width: 380px;
	height:400px;
	position: relative;
	margin: 6% auto;
	background: #ffff;
	padding: 14px;
	overflow: hidden;
}

.form-box h1{
	top: 0px;
	text-align: center;
	font-size: 55px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 15px 0;
}

.button-box{
	top: 0px;
	width: 247px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 30px 5px #2AF598;
	border-radius: 30px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: linear-gradient(to right, #22E4AC, #1BD7BB, #14C9CB);
	border-radius: 30px;
	transition: .5s;
}

.input-group{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-group input[type = "text"], .input-group input[type = "password"]{
	background: none;
	display: block;
	margin:20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding:14px 10px;
	width:200px;
	outline: none;
	color: black;
	transition: 0.25s;
}

.input-group input[type = "text"]:focus, .input-group input[type = "password"]:focus{
	width:280px;
	border-color: #2ecc71;
}

.input-group button{
	padding: 15px 45px;
	text-align: center;
	font-size: 14px;
	color: #ffff;
	border: none;
	background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
	border-radius: 10px;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit-btn{
	width: 85%;
	padding: 80px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #649bff, #0070fa, #649bff);
	border: 0;
	outline: none;
	border-radius: 30px;
}

span{
	align-items: center;
	color: #777;
	font-size: 12px;
	top: 140px;
	bottom: 68px;
	position: absolute;
	font-style: italic;
}

#visitor{
	left: 50px;
}

#staff{
	left: 450px;
}